mixin safety
	+b.SECTION.safety
		+e.H2.title(class="titles") Безопасность продукции

		+e.DIV.desc
			+e.H3.desc-title Науково-технічне співробітництво
			+e.P.desc-info Компанія займається стандартизацією та впровадженням технологій екобезпечної та органічної продукції, вдосконалює процеси виробництва розробляє асортимент з використанням нових видів сировини, спільно з Національним університетом біоресурсів і природокористування (НУБіП ) України &laquo;Науково-дослідний та проектний інститут стандартизації і технологій екобезпечної та органічної продукції&raquo;.

		+e.DIV.desc
			+e.H3.desc-title Стерилизация и сроки хранения
			+e.P.desc-info Инфракрасное излучение при применении NST-технологий и стерилизации СВЧ способствует уничтожению микрофлоры на поверхности продукта, делая сушеные продукты практически стерильным, что позволяет создать условия для гарантированных длительных сроков хранения готовой продукции до 36 месяцев от даты производства, без создания специальных условий.

		+e.DIV.desc
			+e.H3.desc-title Оборудование контроля
			+e.UL.desc-list
				+e.LI.item на производстве внедрена система контроля готовой продукции на наличие металлических примесей, вся сыпучая продукция непосредственно перед упаковыванием пропускается через специальное оборудование &mdash; магнитный сепаратор;
				+e.LI.item контроль влажности готового продукта ведется на производстве с помощью инфракрасного анализатора влажности фирмы &laquo;Radwag&raquo; одного из мировых лидеров производства лабораторного оборудывания.

		+e.DIV.desc
			+e.H3.desc-title Сертификация
			+e.UL.desc-list
				+e.LI.item у предприятия имеется вся разрешительная документация для производства продуктов питания;
				+e.LI.item предприятие сертифицировано по системе ISO 9001 : 2009;
				+e.LI.item предприятие готовится к переходу на сертификацию по системе ISO 9001 : 2015.