/*!******************LOGO******************/
.logo
	margin-top .7rem
	width 8.0449375rem
	height 3.0351875rem
	+above($media-md)
		margin .75rem 0 0 -.5rem
	
	&__img
		fill $logo-bg-color
		fill-rule evenodd
		+above($media-md)
			width 144px
			height 54px