mixin technology
	+b.SECTION.technology
		+e.H2.title(class="titles") Как мы производим нашу продукцию
		+e.P.info.--color В производстве мы используем современные NST-технологии (NewSolarTechnologies) и получаем качественно новый вид сушеных монопродуктов наивысшего качества с сохранённым натуральным цветом, запахом, вкусом и биоэнергетикой свежего продукта, у которых максимально сохранены полезные вещества: витамины, минералы, антиоксиданты, которые в организме не вырабатываются и поступают только с пищей.

		+e.FIGURE.photo.--infrared(id="photoFirst")
			+e.IMG.img(src="img/technology/technology__img-1.png", alt="food")
			+e.FIGCAPTION.desc.--desc-right Этап инфракрасной сушки

		+e.P.info NST-Технологии, как вид эко консервации (обезвоженные продукты), это использование NST-4 инфракрасной сушки с NST способом щадящей деликатной сушки при невысоких t = 50 ... 55&deg;С для производства натуральных сушеных продуктов сушеные овощи, сушеная зелень, сушеные грибы, фрукты, ягоды, мясо, в т.ч. пищевых порошков с максимальным сохранением биологически-активных веществ, микро и макроэлементов, органических кислот, хлорофилла, клетчатки и др. полезных веществ.
	
		
		+e.FIGURE.photo.--low-temp(id="photoSecond")
			+e.IMG.img(src="img/technology/technology__img-2.png", alt="food")
			+e.FIGCAPTION.desc.--desc-left
				| Этап 
				br
				|низко-
				br
				|температурной 
				br
				|сушки (50-55&deg;С)

		+e.P.info.--iconed Технологический процесс сушки по NST-Технологии основан на применении инфракрасных лучей определённой длины волны которые активно поглощаются молекулами воды которая содержится в продуктах растительных или животного происхождения, и легко выводят её на поверхность. В тоже время эти лучи не взаимодействуют с тканями и не разрушает клетки продукта который подвергается сушке. Поэтому процесс удаления клеточной и внеклеточной влаги возможен при относительно невысоких температурах, что дает повод говорить о получении с помощью применяемой NST-технологии качественно нового вида продуктов с сохранением всех природних свойств свежего продукта.

		+e.P.promo Продукт относится к категории 100% натуральные эко продукты, без усилителей вкуса, без ароматизаторов, без консервантов, без красителей, класса - &ldquo;Премиум&rdquo;

		+e.P.important.--bordered В отличии от свежих продуктов, которые даже в сверх комфортных условиях хранения, уже к средине зимы теряют больше половины своих полезных свойств, наши сушеные натуральные продукты на протяжении длительного срока хранения не утрачивают своего изначального качества.
		
		+e.FIGURE.photo.--restore
			+e.IMG.img(src="img/technology/technology__img-3.png", alt="food")
			+e.FIGCAPTION.desc.--col
				+e.P.desc-info Продукция произведена из культивированных грибов шампиньонов, качественных свежих овощей и зелени выращенных в открытом грунте экологически чистой области Украины, Херсонской области, традиционной огороднице Украины и переработана структурным подразделением Компании &ldquo;СИНТЕКС&rdquo; &mdash; на Новокаховском консервно-сушильном заводе.
				+e.P.desc-info Чтобы восстановить все физические, химические и органолептические свойства продукта, сушеный продукт достаточно замочить в тёплой воде на 10-15 минут. При приготовлении первых блюд, соусов, ароматических масел &mdash; применять без предварительного замачивания. При приготовлении вторых блюд, выпечки, салатов &mdash; с предварительным замачиванием. Восстановление: овощи, зелень, фрукты, ягоды &mdash; в 5-6 раз, грибы &mdash; в 7-8 раз.

		+e.P.important.--framed В перерасчёте через восстановление, особенно в зимний период, цена сушеной продукции заметно выигрывает в сравнении с свежей из парников, и явно качественнее и более полезная для здорового питания и пополнения необходимых витаминных запасов в сравнении с продукцией на гидропонике

