mixin about
	+b.SECTION.about
		+e.H2.title(class="titles") Про компанію
		+e.P.lead Еко- бренд SUN FOODS&trade;&nbsp;&mdash; торгова марка сучасної інноваційної української компанії &quot;СІНТЕКС&quot;, яка спеціалізується на&nbsp;виробництві 100 % натуральних продуктах харчування.
		
		+e.FIGURE.photo
			picture
				source(srcset="img/about/about__img-1140.jpg", media="(min-width: 47em)")
				+e.IMG.img(src="img/about/about__img-700.jpg", alt="photo")

		+e.UL.dots
			+e.LI.dot
			+e.LI.dot
			+e.LI.dot

		+e.P.info.--color Саме завдяки новим NST-технологіям SUN FOODS&trade; може похвалитися широким асортиментом продукції унікальної якості з&nbsp;поліпшеними характеристиками інтенсивносі аромату, кольору і&nbsp;смаку своєї продукції.
		+e.P.info.--floated SUN FOODS&trade; завжди прагне принести до&nbsp;столу споживача продукти найвищого ґатунку. Саме з&nbsp;цієї причини, усі овочі і&nbsp;пряно-ароматичні страви вирощуються в&nbsp;Україні, що&nbsp;робить можливим контролювати процеси вирощування і&nbsp;проводити ретельний відбір якісної сировини. Уся сировинна база&nbsp;&mdash; поля овочів і&nbsp;плантації ароматичних трав (базилік, кріп, петрушка, орегано, розмарин, чабер) розміщені у&nbsp;безпосередній близькості від сучасного виробничого комплексу у Н.&nbsp;&nbsp;Каховці.
		+e.P.info Тільки завдяки своєрідному мікроклімату екологічно чистого Херсонської Таврії, традиціям і&nbsp;спадщині предків, які передаються від батьків до&nbsp;дітей, продукти завжди, на&nbsp;протязі поколінь, мають свій характерний смак і&nbsp;аромат, та&nbsp;роблять ці&nbsp;коштовності природи традиційною городницею України. Тепер Ви&nbsp;набагато ближче до&nbsp;таємниці та&nbsp;чарівництва Херсонщини і&nbsp;можете це&nbsp;спробувати.