font-face(
	'Comfortaa', 
	'Comfortaa Light', 
	'Comfortaa-Light',
	'../fonts/Comfortaa-Light.woff2', 
	'../fonts/Comfortaa-Light.woff',
	300,
	normal )

font-face(
	'Comfortaa', 
	'Comfortaa Regular',
	'Comfortaa-Regular',
	'../fonts/Comfortaa-Regular.woff2', 
	'../fonts/Comfortaa-Regular.woff',
	normal,
	normal )
	
font-face(
	'Comfortaa', 
	'Comfortaa Bold',
	'Comfortaa-Bold',
	'../fonts/Comfortaa-Bold.woff2', 
	'../fonts/Comfortaa-Bold.woff',
	700,
	normal )
	
font-face(
	'Kurale', 
	'Kurale Regular',
	'Kurale-Regular',
	'../fonts/Kurale-Regular.woff2', 
	'../fonts/Kurale-Regular.woff',
	normal,
	normal )
