/***********************BASE***********************/
$base-bg-color 									= #fff
$base-text-color								= #000
$base-font-family								= 'Comfortaa', Arial, Helvetica, sans-serif
$base-font-size									= .875rem
$base-font-weight								= normal
$base-line-height								= 1.5rem
$base-letter-spacing						= .001rem

$base-text-color-colored				= #d1a815
$base-font-size-colored					= 1rem
$base-line-height-colored				= 1.875rem
$base-letter-spacing-colored		= .04rem

$base-color-light-green					= #579e10

$base-page-padding-320					= 6.25% //1.25rem
$base-page-padding-768					= 2.75% //1.25rem
$base-page-padding-1336					= 1.54% //1.25rem

$base-page-border-width-768			= 1.25rem
$base-page-border-width-1366		= 1.875rem

$base-element-border-width			= .375rem

$base-block-max-width						= 90rem
$base-block-padding-xlg					= 5%


/***********************HEADINGS***********************/
$heading-color									= #000
$heading-font-family						= 'Kurale', Georgia, serif
$heading-font-size							= 2.25rem
$heading-line-height						= 2.5rem

$heading-border-width					  =	.0625rem
$heading-border-color						= #eee

/***********************LOGO***********************/
$logo-bg-color									= #579e10

/***********************MENU-BTN***********************/
$menubtn-bg-color								= #579e10

/***********************ABOUT***********************/
$about-border-width							= .375rem
$about-border-color							= #d1a815

/***********************FOOTER***********************/
$footer-border-color						= #ddeccf

/***********************MEDIA QUERIES***********************/
$media-xs												= 544px//34em //544px
$media-md												= 767px//47.9375em //767px
$media-lg												= 1365px//85.3125em // 1365px
//$media-xlg											= 90em // 1440px
